{{- if getvs "/host/role" | filter "client" }}
{{- $halfMemory := div (getv "/host/memory") 2 }}
{{- $namesvrPort := getv "/cluster/endpoints/nameserver/port" "9876" }}

flush /opt/app/current/conf/console/console.env << CONSOLE_JVM_ENV

ROCKETMQ_HOME="/opt/rocketmq-console/current"
NAMESRV_ADDR="{{ range $i, $ip := getvs "/hosts/nameserver/*/ip" }}{{ if $i }};{{ end }}{{ $ip }}:{{ $namesvrPort }}{{ end }}"
JAVA_OPT="-Dcom.rocketmq.sendMessageWithVIPChannel=false \
-Dlogging.config=/opt/app/current/conf/console/logback.xml \
-XX:-UseBiasedLocking \
-Duser.home=/data/console \
-Xms{{ $halfMemory }}m \
-Xmx{{ $halfMemory }}m \
-XX:+ExitOnOutOfMemoryError \
-XX:ErrorFile=/data/console/logs/consolelogs/hs_err.log \
-XX:+PrintGCDetails \
-XX:+PrintGCTimeStamps \
-XX:+PrintGCDateStamps \
-XX:+PrintClassHistogram \
-XX:+PrintTenuringDistribution \
-XX:+PrintGCApplicationStoppedTime \
-Xloggc:/data/console/logs/consolelogs/gc.log \
-XX:+UseGCLogFileRotation \
-XX:NumberOfGCLogFiles=5 \
-XX:GCLogFileSize=2m "

#rocketmq.config.dataPath compiled with static /opt/app/current/conf/console
#rocketmq.config.loginRequired=true
CONSOLE_OPTS="--rocketmq.config.loginRequired={{ with getv "/env/user_pwd" "" }}true{{ else }}false{{ end }}"

CONSOLE_JVM_ENV
