[Unit]
Description=RocketMQ Console
After=network.target

[Service]
Type=simple
User=rocketmq
Group=rocketmq
EnvironmentFile=/opt/app/conf/console/console.env
ExecStart=/bin/bash -c 'java $JAVA_OPT -jar /opt/apache-rocketmq-console/current/lib/app.jar'
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target