{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "multi_zone_policy": "round_robin",
  "advanced_actions": ["change_vxnet", "scale_horizontal"],
  "upgrade_policy": [
    "appv-md9fjdpf"
  ],
  "upgrading_policy": "parallel",
  "nodes": [{
    "container": {
      "type": "lxc",
      "zone": "sh1a",
      "image": "img-nbsx0fl0"
    },
    "role": "nameserver",
    "count": {{cluster.nameserver.count}},
    "cpu": {{cluster.nameserver.cpu}},
    "memory": {{cluster.nameserver.memory}},
    "instance_class": {{cluster.nameserver.instance_class}},
    "services": {
      "init": {
        "order": 1,
        "cmd": "appctl init"
      },
      "start": {
        "order": 1,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 3,
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      }
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 30,
      "healthy_threshold": 2,
      "unhealthy_threshold": 2,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    },
    "env": {
      "web_console_enabled": {{env.web_console_enabled}},
      "web_console_username": {{env.web_console_username}},
      "web_console_password": {{env.web_console_password}}
    },
    "vertical_scaling_policy": "sequential"
  }, {
    "container": {
      "type": "lxc",
      "zone": "sh1a",
      "image": "img-nbsx0fl0"
    },
    "role": "broker",
    "count": {{cluster.broker.count}},
    "cpu": {{cluster.broker.cpu}},
    "memory": {{cluster.broker.memory}},
    "instance_class": {{cluster.broker.instance_class}},
    "volume": {
      "size": {{cluster.broker.volume_size}},
      "mount_point": "/data/broker"
    },
    "replica": {{cluster.broker.replica}},
    "services": {
      "init": {
        "order": 2,
        "cmd": "appctl init"
      },
      "start": {
        "order": 2,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 2,
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      }
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 30,
      "healthy_threshold": 2,
      "unhealthy_threshold": 2,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    },
    "monitor": {
      "enable": true,
      "cmd": "appctl measure",
      "items": {
        "putTps": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.001
        },
        "getTransferedTps": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.001
        },
        "queryFoundTps": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.001
        },
        "queryMissTps": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.001
        },
        "queryTotalTps": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.001
        },
        "putCountToday": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 1
        },
        "getCountToday": {
          "unit": "",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 1
        },
        "msgAvgSize": {
          "unit": "Byte",
          "value_type": "int",
          "statistics_type": "latest",
          "scale_factor_when_display": 0.01
        }
      },
      "groups": {
        "msgReqTps": ["putTps", "getTransferedTps", "queryFoundTps", "queryMissTps", "queryTotalTps"],
        "msgCount": ["putCountToday", "getCountToday"]
      },
      "display": ["msgReqTps", "msgCount", "msgAvgSize"],
      "alarm": ["putTps", "getTransferedTps", "queryFoundTps", "queryMissTps", "queryTotalTps"]
    },
    "env": {
      "cluster_name": {{env.broker.cluster_name}},
      "delete_when": {{env.broker.delete_when}},
      "file_reserved_time": {{env.broker.file_reserved_time}},
      "replica_mode": {{env.broker.replica_mode}},
      "flush_disk_type": {{env.broker.flush_disk_type}},
      "web_console_enabled": {{env.web_console_enabled}},
      "web_console_username": {{env.web_console_username}},
      "web_console_password": {{env.web_console_password}}
    },
    "vertical_scaling_policy": "sequential"
  }, {
    "container": {
      "type": "kvm",
      "zone": "sh1a",
      "image": "img-nbsx0fl0"
    },
    "role": "console",
    "count": {{cluster.console.count}},
    "cpu": {{cluster.console.cpu}},
    "memory": {{cluster.console.memory}},
    "instance_class": {{cluster.console.instance_class}},
    "services": {
      "init": {
        "order": 3,
        "cmd": "appctl init"
      },
      "start": {
        "order": 3,
        "cmd": "appctl start"
      },
      "stop": {
        "order": 1,
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      }
    },
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 30,
      "healthy_threshold": 2,
      "unhealthy_threshold": 2,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    },
    "env": {
      "user_name": {{env.console.user_name}},
      "user_pwd": {{env.console.user_pwd}},
      "web_console_enabled": {{env.web_console_enabled}},
      "web_console_username": {{env.web_console_username}},
      "web_console_password": {{env.web_console_password}}
    },
    "vertical_scaling_policy": "sequential"
  }, {
    "container": {
      "type": "kvm",
      "zone": "sh1a",
      "image": "img-86ly6xwt"
    },
    "role": "client",
    "count": {{cluster.client.count}},
    "cpu": {{cluster.client.cpu}},
    "memory": {{cluster.client.memory}},
    "instance_class": {{cluster.client.instance_class}},
    "user_access": true,
    "services": {
      "init": {
        "cmd": "appctl initNode"
      }
    }
  }],
  "display_tabs": {
    "brokerList": {
      "cmd": "appctl readClusterListFromNameserver",
      "roles_to_execute_on": ["nameserver"],
      "description": "Cluster information - broker names, broker IDs and broker addresses"
    }
  },
  "endpoints": {
    "nameserver": {
      "port": 9876,
      "protocol": "tcp"
    },
    "broker": {
      "port": 10911,
      "protocol": "tcp"
    },
    "brokervip": {
      "port": 10909,
      "protocol": "tcp"
    }
  }
}
