flush /opt/app/conf/console/users.properties << CONSOLE_PROPERTIES_EOF

# https://github.com/apache/rocketmq-externals/blob/master/rocketmq-console/src/main/resources/users.properties
# admin=admin,1
{{- with getv "/env/user_pwd" "" }}
{{ getv "/env/user_name" "admin" }}={{ . }},1
{{- end }}
CONSOLE_PROPERTIES_EOF

