#!/usr/bin/env bash

set -e

{{ $groupId := getv "/host/gid" -}}
nodeRole={{ getv "/host/role" }}
namesvrPort={{ getv "/cluster/endpoints/nameserver/port" "9876" }}
brokerPort={{ getv "/cluster/endpoints/broker/port" "10911" }}
namesvrList="{{ range $i, $ip := getvs "/hosts/nameserver/*/ip" }}{{ if $i }};{{ end }}{{ $ip }}:$namesvrPort{{ end }}"
envFile=/etc/profile.d/rocketmq.sh

cat << ENV_FILE > $envFile
#!/usr/bin/env

export ROCKETMQ_HOME=/opt/apache-rocketmq/current
export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
export NAMESRV_ADDR="$namesvrList"
export NAMESERVER_PORT=$namesvrPort
export BROKER_PORT=$brokerPort
export NODE_ROLE=$nodeRole
export GROUP_ID={{ $groupId }}
ENV_FILE

{{ range getvs "/host/role" | filter "broker*" -}}

{{ $isMaster := eq . "broker" -}}
brokerId=0
{{- if not $isMaster }}
  {{- $nodeSid := getv "/host/sid" }}
  {{- range $nodeId := lsdir "/hosts/broker-replica" }}

    {{- if eq (getv (printf "/hosts/broker-replica/%s/gid" $nodeId)) $groupId }}
      {{- if le (getv (printf "/hosts/broker-replica/%s/sid" $nodeId)) $nodeSid }}
brokerId=$(( brokerId + 1 ))
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}

echo "export BROKER_ID=$brokerId" >> $envFile

cat << BROKER_CONF > /opt/app/conf/broker/broker.properties
brokerClusterName = {{ getv "/env/cluster_name" "DefaultCluster" }}
namesrvAddr = $namesvrList
brokerIP1 = {{ getv "/host/ip" }}
listenPort = $brokerPort
brokerName = broker-{{ $groupId }}
brokerId = $brokerId
storePathCommitLog = /data/broker/commitlog/
storePathConsumerQueue = /data/broker/consumequeue/
deleteWhen = {{ getv "/env/delete_when" "4" }}
fileReservedTime = {{ getv "/env/file_reserved_time" "72" }}
brokerRole = {{ if $isMaster }}{{ getv "/env/replica_mode" "SYNC" }}_MASTER{{ else }}SLAVE{{ end }}
flushDiskType = {{ getv "/env/flush_disk_type" "ASYNC_FLUSH" }}
BROKER_CONF

{{- end }}
