[Unit]
Description=RocketMQ Console
After=network.target

[Service]
Type=simple
User=rocketmq
Group=rocketmq
EnvironmentFile=/opt/app/conf/console/console.env
ExecStart=/bin/bash -c 'java $JAVA_OPT -jar /opt/rocketmq-console/current/rocketmq-console.jar --rocketmq.config.dataPath="/opt/app/conf/console/" "${ENABLE_LOGIN_PWD}" "${NAME_SERVER_LIST}"'
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target