
flush /opt/app/bin/envs/svc-caddy.env << CADDY_ENV_EOF
{{- if ne (getvs "/host/role") "client" }}
SERVICES="\$SERVICES caddy/{{ getv "/env/web_console_enabled" "false" }}/http:80"
{{- end }}
CADDY_ENV_EOF
