
flush /opt/app/current/conf/caddy/caddyfile << CADDYFILE_EOF
{{ getv "/host/ip" }}:80 {
  {{- with getv "/env/web_console_password" "" }}
  basicauth / "{{ getv "/env/web_console_username" "admin" }}"  "{{ . }}"
  {{- end }}
  root /data
  gzip
  browse /
  tls off
}
CADDYFILE_EOF
