flush /opt/app/current/bin/envs/nodectl.env << NODE_ENV_EOF

{{- if getvs "/host/role" | filter "broker*" }}
SERVICES="\$SERVICES rocketmq-broker/true/tcp:{{ getv "/cluster/endpoints/broker/port" "10911" }}"
NODE_CTL="broker-node"
DATA_MOUNTS="/data/broker"
{{- else if getvs "/host/role" | filter "nameserver" }}
SERVICES="\$SERVICES rocketmq-namesrv/true/tcp:{{ getv "/cluster/endpoints/nameserver/port" "9876" }}"
NODE_CTL="namesrv-node"
DATA_MOUNTS=""
{{- else if getvs "/host/role" | filter "console" }}
SERVICES="\$SERVICES rocketmq-console/true/http:8080"
NODE_CTL="console-node"
DATA_MOUNTS=""
{{- else if getvs "/host/role" | filter "client" }}
SERVICES="\$SERVICES ssh/true/tcp:22"
NODE_CTL="client-node"
DATA_MOUNTS=""
{{- end }}
NODE_ENV_EOF
