
flush /opt/app/current/bin/envs/node.env << NODE_ENV_EOF
MY_IP={{ getv "/host/ip" }}
MY_ROLE={{ getv "/host/role" }}
CLUSTER_ID={{ getv "/cluster/cluster_id" }}
SID={{ getv "/host/sid" "1"}}
MY_ID={{ getv "/host/instance_id" }}
GID={{ getv "/host/gid" }}
BROKER_PORT={{ getv "/cluster/endpoints/broker/port" "10911" }}
{{- $namesvrPort := getv "/cluster/endpoints/nameserver/port" "9876" }}
NAME_SERVER_LIST="{{ range $i, $ip := getvs "/hosts/nameserver/*/ip" }}{{ if $i }};{{ end }}{{ $ip }}:{{ $namesvrPort }}{{ end }}"
MASTER_NODES="$(echo "
{{- range  lsdir "/hosts/broker" }}
{{ getv (printf "/hosts/broker/%s/gid" .) }}/{{ getv (printf "/hosts/broker/%s/sid" .) }}/{{ getv (printf "/hosts/broker/%s/instance_id" .) }}/{{ getv (printf "/hosts/broker/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"
SLAVE_NODES="$(echo "
{{- range  lsdir "/hosts/broker-replica" }}
{{ getv (printf "/hosts/broker-replica/%s/gid" .) }}/{{ getv (printf "/hosts/broker-replica/%s/sid" .) }}/{{ getv (printf "/hosts/broker-replica/%s/instance_id" .) }}/{{ getv (printf "/hosts/broker-replica/%s/ip" .) }}
{{- end }}
" | xargs -n1 | sort -V | xargs)"

NODE_ENV_EOF


